<footer>
    <div class="footer">
        <div class="socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div>&#169;2024 Nomad Nest | Hetashvi Ban</div>
        <div class="links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>