/*General styling*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex: 1;
}

.bdy{
    margin: 0em 4em;
}


/*Listing show route image*/
.show-img{
    height: 20em;
}
.btns{
    display: flex;
    justify-content: center;
}
.btns a{
    margin-right: 1rem;
}

/*Navbar styling*/
.navbar{
    background-color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: black;
}


/*Card Styling*/
.row .card {
    border: none;
    margin-bottom: 2rem;
}
.row .card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}
.row .card-body{
    padding: 0%;
}
.row .card-text {
    font-weight: 400;
}


/*Styling the footer*/
.footer{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5.2em;
    padding: 0.5rem;
}
.socials i{
    font-size: 1.3rem;
    padding-right: 0.5rem;
}
.links a{
    text-decoration: none;
    color: #000;
}
.links a:hover{
    text-decoration: underline;
}
.listing-link{
    text-decoration: none;
}

.row .card-img-overlay:hover{
    background-color: #d4d2d2;
    opacity: 0.1;
}